<div class="container-fluid">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 centercol text-center new rounded">
    <h2 class="greeting">Edit Tweet</h2>

    <form id="editTweet" action="/tweets/<%= @tweet.id %>/edit" method="POST">
      <p><textarea form="editTweet" class="form-control" name="content" rows="4" cols="40"><%= @tweet.content %></textarea></p>
      <input type="hidden" id="hidden" name="_method" value="patch">
      <p><input type="submit" class="btn btn-default" value="Submit"></p>
    </form>
    
  </div>
</div>