<div class="container-fluid">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 centercol new rounded">
    <div class="text-center">
      <form name="tweetform" id="new_tweet" action="/tweets/new" method="POST">
        <label for="tweetarea" class="tweet">New Tweet</label>
        <textarea id="tweetarea" class="form-control" form="new_tweet" name="content" rows="4" cols="40" placeholder="Enter new tweet (up to 255 symbols)"></textarea><br>
        <p><input type="submit" class="btn btn-default" value="Submit"></p>
      </form>
    </div>
  </div>
</div>