<div class="container">
  <div class="col-xs-4 col-sm-6 col-lg-6 centercol login text-center">


    <h4><span class="greeting">Can't recognize you :(</span></h4>

    <h5><span class="greeting">Double-check your username and password and try again!</span></h5>

    <form action="/login" method="POST">
      <p><input class="form-control" type="text" name="username" placeholder="Username"></p>
      <p><input class="form-control" type="password" name="psw" placeholder="Password"></p>
      <p><input class="btn btn-default" type="submit" value="It better work!"></p>
    </form>

  </div>
</div>