<div class="container-fluid">

  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 centercol new rounded text-center">
    <h1 class="greeting">New Account</h1>

    <form action="/signup" method="POST">
      <p><input type="text" class="form-control" name="email" placeholder="Email"></p>
      <p><input type="text" class="form-control" name="username" placeholder="Username"></p>
      <p><input type="password" class="form-control" name="psw" placeholder="Password"></p>
      <p><input type="submit" class="btn btn-default" value="Create Account"></p>
    </form>

  </div>

</div>