

<div class="container-fluid greeting">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 centercol errorcol">
    <h3 class="text-center error-message">RED ALERT! We have some errors, chief.</h3>
    <% @errors.each do |e| %>
      <ul>
        <li><%= e %></li>
      </ul>
    <% end %>

    <p class="text-center">Let's <a href="/signup">try again</a>?</p>
  </div>
</div>