
<div class="container">
  <div class="col-xs-4 col-sm-4 col-lg-4 centercol login text-center">

    <h1 class="greeting">Welcome to Fwitter!</h1>

    <h4 class="greeting">Please log in below</h3>

    <form action="/login" method="POST">
      <p><input class="form-control" type="text" name="username" placeholder="Username"></p>
      <p><input class="form-control" type="password" name="psw" placeholder="Password"></p>
      <p><input class="btn btn-default" type="submit" value="Yarrr!"></p>
    </form>

    <p class="greeting">No account? Why don't you <a href="/signup">sign up</a>?</p>

  </div>
</div>