<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Expletus+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Fwitter - Flatiron Twitter</title>
  </head>

  <body>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/bootstrap.js"></script>
    
    <% if logged_in? %>
    <!-- <a href="/home">All Tweets</a> -->
    <!-- <a href="/tweets/new">New Tweet</a> -->
    <!-- My account: <a href="/account"><%= current_user.username %></a> -->
    <!-- <a href="/logout">Log out</a> -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home"><span class="logo">Fwitter</span></a>
          </div><!-- .navbar-header -->

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav greeting">
              <li><a href="/home">All Tweets</a></li>
              <li><a href="/account">My Account</a></li>
              <li><a href="/tweets/new">New Tweet</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right greeting">
              <li><a href="/logout">Log out: <%= current_user.username %></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- .container-fluid -->        
      </nav>

    <% end %>

    <%= yield %>

    <footer>
      <span class="greeting">&copy; 2017 David Ordovskiy | <a href="https://flatironschool.com/">Flatiron School</a> | Graphics by <a href="http://subtlepatterns.com/">Subtle Patterns</a></span>
    </footer>
  </body>
</html>